@model IEnumerable<SymbolGroup>
<a class="btn btn-block btn-outline-secondary" asp-action="Index"
   asp-controller="Home" asp-route-symbolGroup="">
    Home
</a>
@foreach (SymbolGroup symbolGroup in Model)
{
    <a class="btn btn-block
       @(symbolGroup.Id == int.Parse(ViewData["SelectedSymbolGroup"].ToString())
       ? "btn-primary": "btn-outline-secondary")"
       asp-action="Index" 
       asp-controller="Home"
       asp-route-symbolGroup="@symbolGroup.Id"
       asp-route-symbolPage="1">
        @symbolGroup.Name
    </a>
}