@model IEnumerable<string>
<a class="btn btn-block btn-outline-secondary" asp-action="Index"
   asp-controller="Home" asp-route-symbolGroup="">
    Home
</a>
@foreach (string symbolGroup in Model)
{
    <a class="btn btn-block
       @(symbolGroup == ViewBag.SelectedSymbolGroup
       ? "btn-primary": "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-symbolGroup="@symbolGroup"
       asp-route-symbolPage="1">
        @symbolGroup
    </a>
}