@{
    ViewData["Title"] = "TypeScript Todo App";
}

@section Scripts {
<script type="text/javascript" src="app.js"></script>
}

<div id="container" class="container">
    <p>Todo Typescript</p>
</div>
    


