@{
    ViewData["Title"] = "TypeScript Todo App";
}

@section Scripts {
    <script src="~/scripts/TypeScriptTodo/newApp.js"></script>
}

<div id="container" class="container">
    <p>Todo Typescript</p>
</div>
    


