@using StockMVC

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Elecontrol1</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <base href="~/" />
</head>
<body>
<app>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
</app>
<script src="/_framework/blazor.server.js"></script>
<script src="~/lib/Chart.js/chart.js"></script>
<script src="~/lib/content/ChartJsBlazorInterop.js"></script>
</body>
</html>