@model SymbolListViewModel
@{
    ViewData["Title"] = "Home";
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="~/lib/Chart.js/chart.js"></script>
    <script>

    const a = @Model.ChartDate;

    const b=@Model.ChartFinalePrice;

    const labels = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June'
    ];
    const data = {
        labels: a,
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            //data: [0, 10, 5, 2, 20, 30, 45],
            data:b
        }]
    };

    const config = {
        type: 'line',
        data,
        options: {}
    };

        $(document).ready(function () {
            var myChart = new Chart(document.getElementById('myChart'), config);
        });


    </script>
}

@section Sidebar{
    <vc:navigation-menu />
}

<h4>Welcome to StockMvc, Developing</h4>
<div class="row">
    <div class="col-6">
        @foreach (Symbol symbol in Model.Symbols)
        {
        <partial name="SymbolSummary" model="symbol" />
        }
        <div class="row" style="overflow:hidden">
            <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                 page-class="btn" page-class-normal="btn-outline-dark"
                 page-class-selected="btn-primary" page-url-symbolGroup="@Model.CurrentSymbolGroup"
                 class="btn-group">
            </div>
        </div>
    </div>
    <div class="col-6">
        <canvas id="myChart"></canvas>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <component type="typeof(MyCounter)" render-mode="Server" param-IncrementAmount=2 />
                <br />
                <br />
                <component type="typeof(SayHello)" render-mode="Server" />
                <br />
                <br />
                <component type="typeof(SayHello)" render-mode="Server" />
                <div ng-app="">
                    <p>Name : <input type="text" ng-model="name"></p>
                    <h1>Hello {{name}}</h1>
                </div>
            </div>
            <div class="col-sm-6">
                @(await Html.RenderComponentAsync<MyCounter>(RenderMode.ServerPrerendered, new { IncrementAmount=3}))
            </div>
        </div>
        <br />
        <a href="~/admin">Admin</a>
    </div>
</div>