@model SymbolListViewModel
@{
    ViewBag.Title = "Ali Nejati Is Working Hard On View";    
}

<h4>Welcome to StockMvc, Developing</h4>
        @foreach (string name in Model.Symbols)
        {
            <partial name="SymbolSummary" model="name" />
        }
        <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary" class="btn-group pull-right m-1">
        </div>
        

   


