@model SymbolListViewModel
@{
    ViewBag.Title = "Ali Nejati Is Working Hard On View";    
}
<h4>Welcome to StockMvc, Developing</h4>
<div class="row">
    <div class="col-6">
        @foreach (Symbol symbol in Model.Symbols)
        {
            <partial name="SymbolSummary" model="symbol" />
        }
        <div class="row" style="overflow:hidden">
            <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary" page-url-symbolGroup="@Model.CurrentSymbolGroup"
             class="btn-group">
            </div>
        </div>        
    </div>
    <div class="col-6">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script>

    const a = @Model.ChartDate;

    const b=@Model.ChartFinalePrice;

    const labels = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June'
    ];
    const data = {
        labels: a,
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            //data: [0, 10, 5, 2, 20, 30, 45],
            data:b
        }]
    };

    const config = {
        type: 'line',
        data,
        options: {}
    };


    var myChart = new Chart(document.getElementById('myChart'), config);

</script>

<script>
    //$(document).ready(function () {
    //    $("p").click(function () {
    //        $(this).hide();
    //    });
    //});
</script>
     

   


