@model SymbolListViewModel
@{
    ViewBag.Title = "Ali Nejati Is Working Hard On View";    
}

<h4>Welcome to StockMvc, Developing</h4>
<div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
        @foreach (string name in Model.Symbols)
        {
            <div>
                <h3>@name</h3>
            </div>
        }
        <div page-model="@Model.PagingInfo" page-action="Index"></div>

    </div>
    <div class="col-sm-4">

    </div>

</div>
