@model IEnumerable<string>
@{
    ViewBag.Title = "Ali Nejati Is Working Hard On View";    
}

<h4>Welcome to StockMvc, Developing</h4>
<div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
        @foreach (string name in Model)
        {
            <div>
                <h3>@name</h3>                
            </div>
        }

        
    </div>
    <div class="col-sm-4">

    </div>

</div>
