<h1>MyCounter</h1>

<p>current count is: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 23;

    [Parameter]
    public int IncrementAmount { get; set; } = 12;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}
