<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

    <base href="~/" />
    <script src="~/lib/jquery/jquery.js"></script>
    @RenderSection("Scripts", required: false)
    

    <title>@ViewData["Title"]</title>


</head>
<body>

    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand">Elecontrol</div>
                <div class="col-6 text-right">
                    <vc:cart-summary />
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="categories" class="col-3">
                <vc:navigation-menu />
            </div>

            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="_framework/blazor.server.js"></script>

</body>

   

</html>
