@model StockMVC.Controllers.MyModelData;
@{  
    Layout = null;
    
    ViewBag.Title = "Ali Nejati Is Working Hard On View";
}
<h4>Learning New Route System</h4>
<p>Model data is : @Model.A , @Model.B</p>
<div class="row">
    <div class="col-6">
        <a href="~/admin">Admin</a>
    </div>
</div>






