@{
    ViewData["Title"] = "TypeScript Demo";
}

@section Scripts {
    <script src="~/scripts/TypeScriptDemo/Drawer.js"></script>
}

<div class="row">
<div class="col-sm-4">
    <canvas id="chart1"></canvas>
</div>
<div class="col-sm-4">
    <canvas id="chart2"></canvas>
</div>
<div class="col-sm-4">
    <canvas id="chart3"></canvas>
</div>
</div>
