@{
    ViewData["Title"] = "TypeScript Demo";
}

@section Scripts {

    <script src="~/scripts/bundle.js"></script>
}
    <div class="row">
        <div class="col-sm-4">
            <canvas id="chart1"></canvas>
        </div>
        <div class="col-sm-4">
            <p id="greeting">Loading ...</p>
        </div>
        <div class="col-sm-4">
            <canvas id="chart3"></canvas>
        </div>
    </div>
