@{
    Layout = "_SimpleFastLayout";
    ViewData["Title"] = "React Demo";
}

@section Scripts {
   
    <script src="~/dist/bundle.js"></script>
   
    <script>
        for (var i = 0; i < 3; i++) {
            console.log(130*i);
        }
    </script>

}
<div class="row">
    <div class="col-sm-4">
        <div id="like_button_container"></div>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">

    </div>
</div>