@model StockMVC.Controllers.ModelData
@{
    Layout = "_SimpleFastLayout";
    ViewData["Title"] = "React Demo";
}

@section Scripts {
    <link href="~/css/TSDemo/Style.css" rel="stylesheet" />
    <script src="~/dist/TSdemo.js"></script>
}

<input type="hidden" id="AllSymbols" name="allSymbols" value="@Model.AllSymbols">
<input type="hidden" id="AllSymbolGroups" name="allSymbolGroups" value="@Model.AllSymbolGroups">

<div id="main"></div>