@page "/"
<h4>This is Admin component</h4>
<SurveyPrompt Title="How is Blazor working for you?" />
<Counter IncrementAmount="10"/>
<StockMVC.Components.MyCounter IncrementAmount="2" />
<br/>
<br/>
<BindExample />
<br/>
<EventHandlerExample />
<br/>
<EventHandlerAsyncExample />
<br/>
<EventArgumentExample />


