@{
    ViewData["Title"] = "WebPack Demo";
}

@section Scripts {

    <script src="~/js/dist/bundle.js"></script>
    <script>


    </script>
}
<div class="row">
    <div class="col-sm-4">
        <h1>Webpack</h1>
    </div>
    <div class="col-sm-4">
        <p id="greeting">Loading ...</p>
    </div>
    <div class="col-sm-4">
        <canvas id="chart3"></canvas>
    </div>
</div>