<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <p>found</p>
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(AdminLayout)" />
    </Found>
    <NotFound>
        <p>not found</p>
        <LayoutView Layout="@typeof(AdminLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
