<h1>CountDown</h1>

<p>current count=: @currentCount</p>

<button class="btn btn-primary" @onclick="DecrementCount">Click me</button>

@code {
    private int currentCount = 1000;

    [Parameter]
    public int IncrementAmount { get; set; } = 3;

    private void DecrementCount()
    {
        currentCount -= 1;
    }
}
